<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>items</key>
<array>
<dict>
<key>assets</key>
<array>
<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string> https://github.com/realmios/library/releases/download/ipa/Locket_2.8.0_ec72b2fd-53c5-4d82-8ebf-dbab8e04ad87.ipa </string>
</dict>
<dict>
<key>kind</key>
<string>display-image</string>
<key>needs-shine</key>
<true/>
<key>url</key>
<string> https://private-user-images.githubusercontent.com/206398372/481858388-57df5282-2edd-4f25-958d-97d0ef2daa82.png </string>
</dict>
<dict>
<key>kind</key>
<string>full-size-image</string>
<key>needs-shine</key>
<true/>
<key>url</key>
<string> https://private-user-images.githubusercontent.com/206398372/481858388-57df5282-2edd-4f25-958d-97d0ef2daa82.png </string>
</dict>
</array>
<key>metadata</key>
<dict>
<key>bundle-identifier</key>
<string>com.locket.Locket</string>
<key>bundle-version</key>
<string>2.8.0</string>
<key>kind</key>
<string>software</string>
<key>title</key>
<string>Locket Gold v2.8.0 - Locket Gold by Realm iOS</string>
</dict>
</dict>
</array>
</dict>
</plist>