items assets kind software-package url https://github.com/realmios/Install-App/releases/download/untagged-c25673d25df9c9533bbe/AppStore++_TrollStore_v1.0.3-2.ipa kind display-image url https://usescarlet.com/icon.png kind full-size-image url https://usescarlet.com/icon.png metadata bundle-identifier com.DebianArch.ScarletPersonalXYZS bundle-version 1.0 kind software title Scarlet - Signed
