items assets kind software-package url https://github.com/realmios/Install-App/releases/download/Install-by-Realm-iOS/Scalert-sign.ipa kind display-image url https://usescarlet.com/icon.png kind full-size-image url https://usescarlet.com/icon.png metadata bundle-identifier com.DebianArch.ScarletPersonalXYZS bundle-version 1.0 kind software title Scarlet - Signed
