<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string>https://objects.githubusercontent.com/github-production-release-asset-2e65be/994640787/f3899cae-3c3f-4532-a9c7-63dc4f7dc82a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250602%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250602T100007Z&X-Amz-Expires=300&X-Amz-Signature=1eb4360abd7c44c93c31812471fb5ca088131b67153e22e6e421b17f4004576e&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3DScalert-sign.ipa</string>
        </dict>
        <dict>
          <key>kind</key>
          <string>display-image</string>
          <key>url</key>
          <string>https://usescarlet.com/icon.png</string>
        </dict>
        <dict>
          <key>kind</key>
          <string>full-size-image</string>
          <key>url</key>
          <string>https://usescarlet.com/icon.png</string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.DebianArch.ScarletPersonalXYZS</string>
        <key>bundle-version</key>
        <string>1.0</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string>Scarlet - Signed</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
